@import url('https://fonts.googleapis.com/css?family=Harmattan');

.topnav {
    font-family: harmattan;
    font-size: 1.5em;
    background-color: lightgray;
}
    ul{
        list-style: none;
    }

.pull-right{
    padding-left: 50px;
    padding-right: 10px;
}

.intro-page {
    font-family: harmattan;
    background:url("http://i.imgur.com/ULwo0xc.jpg");
    background-size: cover;
    height: 900px;
}

.intro-msg {
    padding-top: 520px;
    padding-left: 200px;
}

.me {
    padding-top: px;
    padding-left: 2em;
}
.block {
    margin-top: 1%;
}

.about-page {
    font-family: harmattan;
    font-size: 1.3em;
    background-color: blanchedalmond;
    padding: 70px 70px 70px 70px;
}

.portfolio-page {
    font-family: harmattan;
    font-size: 1.3em;
    background-color: lightpink;
    padding: 70px 70px 70px 70px;
}

.contacts-page {
    font-family: harmattan;
    font-size: 1.3em;
    background-color: skyblue;
    padding: 70px 70px 70px 70px;
}